{% capture thecontent %} 

    {{ post.content }}

    <blockquote class="aet-quote">

        {% assign size = post.post_quote.size %}
        {% if size < 100 %}
        {% assign size_class = "short" %}
        {% elsif size < 500 %}
        {% assign size_class = "medium" %}
        {% else % }
        {% assign size_class = "long" %}
        {% endif %}

        <div class="aet-quote__content aet-size--{{ size_class }}">{{ post.post_quote }}</div>
        <cite class="aet-quote__cite">
            {{ post.post_cite }} <span class="aet-quote__cite-location">{{ post.post_cite_location }}</span>
        </cite>
    </blockquote>

    {% if post.post_image %}
        <div class="aet-post__image">
            <img src="{{ post.post_image }}" class="img-fluid {% if post.post_image_avatar %}aet-image--avatar{% endif %}" alt="" />
        </div>
    {% endif %}

    <div>
        {{ post.post_extra }}
    </div>

{% endcapture %} 
{% include common/post.html %}